x-airflow-common: &airflow-common
  image: apache/airflow:2.8.1
  environment:
    AIRFLOW_CORE_EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW_CORE_LOAD_EXAMPLES: "false"
    _PIP_ADDITIONAL_REQUIREMENTS: apache-airflow-providers-databricks
    PIP_NO_HASH_CHECKING: "1"
  volumes:
    - ./airflow-dags:/opt/airflow/dags
    - ./airflow-logs:/opt/airflow/logs
    - ./airflow-plugins:/opt/airflow/plugins
  depends_on:
    - postgres

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8081:8080"

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
